html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rosybrown;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

.col-3 {
  min-width: 33%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 0px;
  padding-left: 0px;
}

#registerForm {
  background-color: blanchedalmond;
  padding: 20px;
}

#directoryForm {
  background-color: cornsilk;
  padding: 20px;
  margin-top: 20px;
}

#titleTop {
  color: white;
  padding: 0px;
}